# Ignore Python caches
__pycache__/
*.pyc

# Ignore Virtual environments
.venv/
venv/
env/

# Ignore project outputs/reports
scan_report.csv                 
results /  
reports_out/
previews/

# macOS
.DS_Store
.vscode/
.idea/

# frontend
web/venv/
.previews/
reports_out/
scan_report.csv
*.local.bak
